
@{
    ViewData["Title"] = "Registration";
}

@model Lab18_Coffee_Shop.Models.RegisterUser

<h1>Registration</h1>


@using (var form = Html.BeginForm())
{
    <div class="inputData">
        <div>
            @Html.LabelFor(m => m.FirstName, "First Name :")
            @Html.TextBoxFor(m => m.FirstName)

        </div>
        <div>
            @Html.LabelFor(m => m.LastName, "Last Name :")
            @Html.TextBoxFor(m => m.LastName)
        </div>
        <div>
            @Html.LabelFor(m => m.Email, "Email :")
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div>
            @Html.LabelFor(m => m.Password, "Password :")
            @Html.TextBoxFor(m => m.Password)
        </div>
        <input type="submit" value="Submit" />
    </div>
}   

<style>
    body {
        background-image: url('../../coffee4.jpg');
        background-size: cover;
    }
</style> 







