
@{
    ViewData["Title"] = "UserInfo";
}
@model Lab18_Coffee_Shop.Models.User

<h1>UserInfo</h1>

<p>
    @Model.FirstName
    @Model.LastName
    @Model.Email
    @Model.DOB
    @Model.UserName
</p>
